.expense {
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 1em;
}
#expense-timestamp {
  font-size: 0.8em;
  color: #848484;
}
#expense-price {
  font-size: 1.1em;
}
#expense-name {
  font-weight: bold;
}
