:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
[drawer] {
   background-color: #fff;
}

[main] > div {
  padding: 2em;
}

[drawer] > core-item {
  padding: 1em;
}
[main] {
  height: 100%;
  background-color: #f1f1f3;
}

[drawer] core-toolbar {
  background-color: #66aa55;
  color: #fff;
}

[main] core-toolbar {
  background-color: #77cc55;
  color: #fff;
}
paper-input {
  width: 95%;
}
core-overlay-layer {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
.hidden {
   visibility: hidden;
}
.errorLabel {
   visibility: visible;
   font-size: 0.6em;
   color: #ff0000;
   vertical-align: bottom;
}
.smallFont {
  font-size: 0.6em;
}
.expense {
  background-color: #ffffff;
  padding: 1em;
}
#expense-timestamp {
  font-size: 0.8em;
  color: #848484;
}
#expense-price {
  font-size: 1.1em;
}
#expense-name {
  font-weight: bold;
}