:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
core-overlay-layer {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
[drawer] {
   background-color: #fff;
}
[drawer] core-toolbar {
  background-color: #66aa55;
  color: #fff;
}
[drawer] > core-item {
  padding: 1em;
}
core-item.paper-input {
  width: 95%;
}
[main] > div {
  padding: 2em;
}
[main] {
  height: 100%;
  background-color: #f1f1f3;
}
[main] core-toolbar {
  background-color: #77cc55;
  color: #fff;
}
paper-fab {
  background-color: #F56710;
  bottom: 1em;
  position: absolute !important;
  right: 1em;
  z-index: 10;
}
.hidden {
   visibility: hidden;
}
.errorLabel {
   visibility: visible;
   font-size: 0.6em;
   color: #ff0000;
   vertical-align: bottom;
}
.smallFont {
  font-size: 0.6em;
}
